.TopicContainer {
    width: 100%;
    display: flex;
}

.Topic {
    margin: 1rem;
    padding: 1rem;
    background-color: #FF206E;
    cursor: pointer;
}
.Topic:hover {
    /* opacity: 0.9; */
    background-color: #E0004F;
    color: #EBEBEB;
}