.ToDoContainer{
    display: flex;
}

.todo-c{
    width: 65%;
    display: grid;
    grid-template-columns: repeat(3, 17rem);
    grid-template-rows: repeat(3, 12rem);
}

.ToDo{
    margin: 1rem;
    border-radius: 0.5rem;
    box-shadow: 1px 2px 2px #FFFFFF;

    padding: 1rem;
    background-color: #FBFF12;
    overflow: scroll;

    display: flex;
    flex-direction: column;
    justify-content: space-between;

    color: #0C0F0A;
    /* cursor: pointer; */
}

/* .ToDo:hover {
    background-color: #DDE000;
    box-shadow: 1px 2px 2px #EBEBEB;
} */

.td-top{
    display: flex;
    justify-content: space-between;
}

.td-x{
    width: 1.2rem;
    height: 1.2rem;
    background-color: #DDE000;

    border: 1px solid #0C0F0A;
    font-weight: bold;
    cursor: pointer;
}